@media (max-width: 768px) {
  .header-menu {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    overflow: hidden;
    height: 0;
  }

  /* Icon Menu mobile */
  .icon-hamburger {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .icon-hamburger span {
    display: block;
    width: 30px;
    height: 2px;
    margin: 5px;
    background-color: white;
    transform: rotate(45deg) translateY(9);
    
  }

  .toggle-active .menu{
    height: 100%;
  }

  .toggle-active .icon-hamburger span:nth-child(2) {
    transform: rotate(-45deg) translateY(-9) !important;
  }
  .container-section {
    width: 100%;
  }

  .container-section ul {
    padding-inline-start: 5px;
  }

  .menu ul {
    flex-direction: column;
  }

  select {
    padding-left: 0;
  }

  .menu ul li {
    border-bottom: 1px solid #5b5959;
  }

  #disabled button {
    padding-left: 0;
  }

  .search-container ul {
    padding-left: 0;
  }
}
