@media (max-width: 768px) {
  .header-menu {
    flex-direction: column;
    align-items: flex-start;
    backdrop-filter: blur(20px);
  }
  
  .menu {
    flex-direction: column;
    transition: all 1s cubic-bezier(.215, .61, .355, 1);
    align-items: flex-start;
    width: 100%;
    gap: 0;
    overflow: hidden;
    height: 0;
  }

  .menu ul {
    flex-direction: column;
  }

  .menu ul li {
    border-bottom: 1px solid #5b5959;
  }
  /* Icon Menu mobile */
  .icon-hamburger {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .icon-hamburger span {
    display: block;
    width: 30px;
    height: 2px;
    margin: 5px;
    background-color: white;
    transition: all 0.2s cubic-bezier(.215, .61, .355, 1);
  }

  .toggle-active .icon-hamburger span:nth-child(1){
    transform: rotate(45deg) translateY(9px);
  }

  .toggle-active .icon-hamburger span:nth-child(2){
    transform: rotate(-45deg) translateY(-9px);    
  }

  .toggle-active .menu {
    transition: all 1s cubic-bezier(.215, .61, .355, 1);
    height: 50vh;
  }

  /* Container section menu */
  .container-section {
    width: 100%;
  }

  .container-section ul {
    padding-inline-start: 5px;
    margin-bottom: 0;
  }

  /* Subsection menu*/
  select {
    padding-left: 0;
  }

  #disabled button {
    padding-left: 0;
  }

  .search-container{
    width: 100%;
  }

  .search-container ul {
    padding-left: 0;
  }
}
